* {
  box-sizing: border-box;
  margin: auto;
}

html {
  scroll-behavior: smooth;
  background-image: linear-gradient(180deg, #08597D, #ECF770);
  height: 150%;
}

/* landing page css */
header nav h1 {
  text-decoration: underline;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 40px;
}

header nav a {
  padding: 10px;
  display: flex; 
  justify-content: center;
  color:hsl(206, 17%, 28%);
  
}   

h1 { 
  text-align: center;
}

h2 {
    text-align: center;
    padding-top: 40px;
}

h2 p {
    text-align: center;
    width: 80px;
}

h3 {
  text-align: center;
}

header2 {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}
.gif {
  display: flex; 
  justify-content: center;
  padding-top: 50px;
}

.textBox {
  width: 600px;
  text-align: center;
  margin-top: 60px;
  
}

.footer { 
  text-align: center;
  margin-top: 250px;
} 

/* html game css  */
  
.startBtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  font-size: 25px;
  padding: 20px;
  width: 25%;
  color: #3cc893;
  border: none;
  background-color: #ecf770;
  box-shadow: 3px 3px #3cc893;
  
}

#movie-poster {
  display: flex; 
  justify-content: center;
}

#player-1 {
  display: flex;
  justify-items: center;
  padding: 30px 0px;
 
}

#player-2 {
  display: flex;
  justify-items: center;
  padding: 30px 0px;
  margin-top: 10px;
  margin-bottom: 10px;

}



/* hover effects  */
.startBtn:hover {
background-color: #006689;
cursor: pointer;
}

header nav a:hover {
  color: #ECF770;
  
}

/* .hidden {
  display: none;
}

.show {
  display: block;
} */